<style>
{literal}
body{
font:normal 14px/1.5 Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;color:#000;
	background: url({/literal}{$mobileqiandaobg}{literal});
	background-size:100% auto;
-webkit-user-select:none;margin:0 auto;padding:0;list-style:none;vertical-align:middle;}
}
.pay_list_c1 {
	width: 100%;
	height: 24px;
	cursor: pointer;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.radioclass {
	opacity: 0;
	cursor: pointer;
}

.refresh_vote {
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 200px;
	position: fixed;
	right: 14px;
	text-align: center;
	z-index: 11;
	height: 50px;
	width: 50px;
	border-radius: 100%;
}

.refresh_vote img {
	padding: 5px;
	display: block;
	height: 40px;
	width: 40px;
}

.vote_disabled {
	display: none
}
.info2 {
display: block; 
margin:65px auto 40px auto;width:180px;
color: #fff;
text-align: center;
}
.info2 .touxiang {
width: 120px;
height: 120px;
border-radius: 100%;
box-shadow: 0 0 0 3px rgba(255, 255, 255, 1), 0 0 10px 2px rgba(0, 0, 0, 0.3);
margin: auto;
display: block;
margin-bottom: 20px;
}
.weui_cells{
	background: none;
	margin: 0;
}
.weui_cells:before,.weui_cell:before,.weui_cells:after{
	border: none
}
.weui_cell{
	background: #fff;border-radius: 5px;margin: 10px 15px;
}
.weui_label{
	width: 60px;
}

{/literal}
</style>
</head>
<body>
	<div class="weui_cells weui_cells_form">
		<div class="info2">
        	<img class="touxiang" src="{$user['avatar']}">
           	<!--<p class="name">{$user['nickname']}</p>-->
    	</div>
		{if $wall_config['name_switch']==1}
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label">姓名</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" id="realname" type="text" placeholder="请输入您的姓名" />
			</div>
		</div>
		{/if}
		{if $wall_config['phone_switch']==1}
		<div class="weui_cell">
			<div class="weui_cell_hd">
				<label class="weui_label">手机</label>
			</div>
			<div class="weui_cell_bd weui_cell_primary">
				<input class="weui_input" id="mobile" type="text" placeholder="请输入您的手机号" />
			</div>
		</div>
		{/if}
		<input type="hidden" id="openid" value="{$user['openid']}"/>
	</div>
	<div class="weui_btn_area">
	<input type="hidden" name="redirecturl" value="{$redirecturl}"/>
		<a class="weui_btn weui_btn_primary btn_register" href="javascript:">确定签到</a>
	</div>
</div>
	<script>
{literal}
$(document).ready(function(){
$(".btn_register").on("click",function(){
	var realname=$('#realname').val();
	var mobile=$('#mobile').val();
	var openid=$('#openid').val();
	var redirecturl=$('input[name=redirecturl]').val();
	_meepoajax._ajax({
				do_it:'user_register',
				type: "POST",                        
				dataType: 'json',      
				cache: false,                 
				formPata:{'openid':openid,'realname':realname,'mobile':mobile,'redirecturl':redirecturl},
				success:function(r) {
						if(r.errno==0){
							_loading_toast._show(r.message);
							setTimeout(function(){  
							window.location.reload();
							},2000);
						}else{
							_loading_toast._show(r.message);
						}
				}
		})
})
});
{/literal}
</script>